!!!
%html
  %head
    %title Hello, Haml!
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/stylesheet.css"}
  %body
    #header
      %h1 Hello, Haml!
    #content
      %p
        I use Haml
        %span.version= Haml::VERSION